<p style="width: 100%; border-bottom: 1px #000000 inset">
    Environment: Test
</p>
<p style="width: 100%; border-bottom: 1px #000000 inset">
    Last Patch: -
</p>
<p style="width: 100%; border-bottom: 1px #000000 inset">
    Version: 0.0.0
</p>
<!--<table style="padding-top: 20px;">
    <tbody>
    <tr style="text-align: center">
        <td>Environment: </td>
        <td>Test</td>
    </tr>
    <tr style="text-align: center">
        <td>Last Patch: </td>
        <td> - </td>
    </tr>
    <tr style="text-align: center">
        <td>Version: </td>
        <td> 0.0.0 </td>
    </tr>
    </tbody>
</table>-->